/* $Id: main.css,v 1.5 2007/08/21 02:10:18 damian Exp $ */

html
{
	padding:3px 2px 4px 2px;
}

body
{
	margin:0;
	padding:0;
    background-color:#FFF;
    color:#000;
    font-family:Verdana,Arial,sans-serif;
    font-size:95%;
    text-align:center;
}

#page
{
    margin:0 auto;
    text-align:left;
    max-width:985px;
}

/*
	Global Element Styles
*/
a:link,
a:visited,
a:hover
{
    background-color:transparent;
    color:#0066CC;
    text-decoration:none;
    font-weight:normal;
}

a:visited
{
    color:#7B1BB7;
}

a:hover
{
    color:#FF6600;
    text-decoration:underline;
}

a:focus
{
	outline:none;
}

h2
{
	font-size:1.2em;
	margin-bottom:5px
}

h2,
h3
{
	margin-bottom:2px;
}

p
{
    margin:0;
    margin-bottom:5px;
}

img
{
    border:none;
}

form
{
    padding:0;
}

label
{
    cursor:pointer;
}

fieldset,
legend
{
    margin:0;
    padding:0;
    border:none;
    color:#000;
}

input,
option
{
    speak:none;
}

input,
label
{
    vertical-align:middle;
}

object
{
	display:none;
}

/*
	Util
*/
.cb
{
    clear:both;
}

.hidden
{
	visibility:hidden;
}

/*
	Top
*/
#header
{
    margin-left:4px;
    margin-right:4px;
}

/*\*/
#header
{
    display:block;
    height:45px;
}
/**/

#header .logo
{
    display:block;
    float:left;
    width:150px;
    height:45px;
    text-decoration:none;
}

#header .menus
{
    float:left;
    margin:6px 0 3px 5px;
    font-size:medium;
}

#header .menus .nav,
#header .menus .nav li
{
    float:left;
}

#header .menus a:visited
{
    color:#0066CC;
}

#header .menus .nav
{
	margin:0;
	margin-right:1em;
	padding:0;
}

#header .menus .nav li
{
	display:block;
	margin:0;
	list-style-type:none;
    margin-right:12px;
}

#header .menus .nav a,
#header .menus .nav a:hover,
#header .menus .nav a:visited
{
    display:block;
    float:left;
    padding:5px 3px 3px 3px;
    border:1px solid #CCC;
    border-bottom-width:2px;
    border-right-width:2px;
    color:#A0C1F4;
    font-weight:bold;
    text-decoration:underline;
}

#header .menus .nav a:hover
{
	border-color:#A0C1F4;
}

#header .menus .nav li.last
{
    margin-right:0;
}

#header .menus .account
{
    float:left;
    margin-left:2px;
    font-size:90%;
}

#header .menus .account .anonymousMessage
{
	display:block;
	float:left;
	margin-right:5px;
	margin-top:4px;
}

#header .menus .account .actions
{
    float:left;
    border-left:dashed 1px silver;
    padding:6px;
    padding-bottom:6px;
    height:1em;
    margin:0;
}

#header .menus .account ul.actions li
{
	display:block;
	list-style-type:none;
	float:left;
}

#header .menus .account .actions a
{
    display:block;
    float:left;
    margin-right:8px;
    padding-bottom:1px;
    text-decoration:underline;
    font-size:0.9em;
}

#header .menus .account .actions li.last
{
	padding-left:8px;
	border-left:dashed 1px silver;
}

#header .menus .account div.actions span
{
    display:block;
    float:left;
    margin-right:6px;
    font-size:smaller;
}

#header .menus .account .menu
{
    float:left;
    margin-top:4px;
}

#header .menus .account .menu .username
{
	float:left;
	margin-right:5px;
}

.username
{
	padding-left:16px;
    background:url(/images/icons/user.png) left center no-repeat;
}

/*
.usernameFemale
{
	background:url(/images/icons/userF.png);
}
*/

.username:hover
{
    border-color:#4890C8;
    text-decoration:none;
}

.username strong
{
	display:block;
	float:left;
    margin:0;
    border-bottom:dashed 1px black;
}

#header .menus .account .menu:hover .username
{
    border-color:#4890C8;
}

/*
	Search Form
*/
#searchForm
{
    display:block;
    font-size:medium;
    text-align:center;
    margin:0;
    margin-top:5px;
}

a.searchFormOptionsOpener,
a.searchFormOptionsOpener:visited
{
    color:#006CC6;
    font-size:small;
    text-decoration:underline;
}

#searchForm .searchFormOptionsOpener
{
	margin-left:35px
}

#searchFormOptionsContainer
{
	display:none;
	position:absolute;
	left:25%;
	z-index:2;	
	text-align:center;
}

#searchFormOptions
{
	font-size:small;
	text-align:left;
	padding:3px;
	width:550px;
	margin:auto;
	margin-top:8px;
	background-color:#f4fff4;
	border:2px double #33CC00;
	border-top-width:1px;
	border-left-width:1px;
}

#searchFormOptions fieldset
{
	margin-top:1em;
}

#searchFormOptions .title
{
	font-weight:bold;
	font-size:110%;
	margin-left:3px;
}

#searchFormOptions .close
{
	float:right;
	width:18px;
	height:18px;
	background:url(/images/icons/cross.png) left center no-repeat;
	cursor:pointer;
}

#searchFormOptions label
{
	margin-right:1em;
}

#searchFormOptions .saveOptions
{
	clear:both;
	float:right;
	margin-top:5px;
}

#searchFormOptions label
{
    padding:5px 0 5px 0;
}

#searchFormScopes
{
    margin-left:238px;
    font-size:x-small;
}

#searchFormScopes input
{
    clear:both;
    display:none;
}

#searchFormScopes label
{
    float:left;
    display:block;
    color:#006CC6;
    margin-right:10px;
    padding:3px 6px 3px 6px;
    border:1px solid #FFF;
    border-top:none;
}

#searchFormScopes label:hover,
#searchFormScopes label.hover
{
    text-decoration:underline;
}

#searchFormScopes .current
{
    background-color:#F4FFF4;
    border-color:#33CC00;
    font-weight:bold;
    text-transform:uppercase;
    text-decoration:none;    
}

#searchFormScopes .current:hover
{
    text-decoration:none;
}

#searchForm .queryLabel
{
    font-size:large;
    font-weight:bolder;
    font-variant:small-caps;
    margin-right:6px;
}

#searchForm .query
{
    width:50%;
    border:2px solid #33CC00;
    margin-left:3px;
    margin-right:4px;
    padding:3px;
    font-family:Verdana,Arial,sans-serif;
    font-weight:bolder;
    font-size:larger;
}

#searchForm .searchButton
{
    padding:3px 3px 2px 3px;
    margin-left:6px;
    background-color:#F3F3F3;
    border:3px solid #A0C1F4;
    border-right-color:#7890B7;
    border-bottom-color:#7890B7;
    font-size:larger;
}

#searchForm .searchButton:focus,
#searchForm .searchButtonFocus
{
    border:3px solid #33CC00;
    border-top-color:#259900;
    border-left-color:#259900;
}

/*
	Box
*/
.box
{
	width:100%;
    margin-bottom:1.5em;
    padding:0;
    /*non opera hack*/
    overflow:hidden;
    /*end hack*/
}

/*
.box p.error
{
    text-align:center;
    padding:4px;
    border:solid 2px #FF0000;
    background-color:#FFFFE1;
}
*/

.box h1
{
	
	margin-top:0;
    margin-bottom:0.5em;
    padding:4px;
    background-color:#E8F3FF;
    border-top:3px solid #9BBEF4;
    font-size:140%;
    font-weight:bolder;
}

.box .top
{
    width:100%;
    display:table;
    margin-top:0;
    margin-bottom:0.5em;
    padding:5px;
    background-color:#E8F3FF;
    border-top:3px solid #9BBEF4;
}

.box .top .section
{
    display:block;
    float:left;
    margin-top:0 auto;
    margin-right:0.5em;
    padding:3px;
    background-color:#9BBEF4;
    color:#FFF;
    font-size:medium;
    text-transform:uppercase;
}

.box .top h1,
.box .top h2,
.box .top h2 a
{
    float:left;
    vertical-align:middle;
    margin:0;
    padding:0;
    font-size:140%;
    font-weight:bolder;
    border-top:none;
    color:#000;
}

.box .top h2 a
{
	font-size:1em;
}

/*
.box .top .actions
{
    float:right;
    vertical-align:middle;
    margin:0;
}

.box .top .actions a
{
    float:left;
    margin:0;
    margin-left:4px;
    padding:3px;
    padding-left:16px;
    background:white url(/images/icons/bulletArrowRight.png) no-repeat scroll left;
    border:1px solid #CCC;
    font-size:smaller;
    text-decoration:none;
}

.box .top .actions a:visited
{
    color:#006CC6;
}

.box .top .actions a:hover
{
    color:#FF6600;
}
*/

.box h3
{
    font-size:small;
}

.singleBox
{
    clear:both;
}

/*
	Star Rating
*/
.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating
{
	background:url(/images/star.png) left -1000px repeat-x;
}

.star-rating
{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position:left top;
}

.star-rating li
{
	display:inline;
}

.star-rating a,
.star-rating .current-rating
{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border:none;
}

.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus
{
	background-position:left bottom;
}

.star-rating a.one-star
{
	width:20%;
	z-index:6;
}

.star-rating a.two-stars
{
	width:40%;
	z-index:5;
}

.star-rating a.three-stars
{
	width:60%;
	z-index:4;
}

.star-rating a.four-stars
{
	width:80%;
	z-index:3;
}

.star-rating a.five-stars
{
	width:100%;
	z-index:2;
}

.star-rating .current-rating
{
	z-index:1;
	background-position:left center;
}

/*
	Media Row
*/
.mediaRow
{
    min-height:96px;
    padding-bottom:10px;
    border-bottom:1px dashed #CCC;
}

.mediaRow .highlight
{
	background-color:Yellow;
}

.mediaRow .title .highlight,
.mediaRow a:hover .highlight
{
	text-decoration:underline;
}

.mediaRow:hover,
.resultHover
{
    background-color:#F4FFF4;
    border-right-color:#33CC00;
    border-bottom-color:#33CC00;
}

.mediaRow a:hover
{
    color:#006CC6;
}

.mediaRow a:visited
{
    color:#7b1bb7;
}

.mediaRow a.title,
.mediaRow a.title:visited
{
    display:block;
    margin-bottom:2px;
    text-decoration:underline;
    font-size:larger;
    font-family:Geneva, Arial, Helvetica, sans-serif;
}

.mediaRow .title img
{
    display:block;
    float:left;
    width:135px;
    height:101px;
    background-color:silver;
    border:1px solid #CCC;
    margin-right:10px;
    
    /*opacity:.90; 
	filter:alpha(opacity=90);*/
}

/*
.mediaRow:hover .title img,
.resultHover .title img
{
	opacity:1; 
	filter:alpha(opacity=100);  
}
*/

.mediaRow .info
{
    margin-left:145px;
    padding-right:2px;
}

.mediaRow .info strong
{
    font-size:small;
}

.mediaRow:hover .title,
.mediaRow .title:hover,
.mediaRow a.aHover,
.mediaRow a.aHover:visited
{
    color:#FF6600;
}

.mediaRow .source,
.mediaRow .source:hover
{
	color:#008000;
}

.mediaRow .info p
{
    display:block;
    margin-bottom:3px;
    font-size:small;
    white-space:normal;
}

.mediaRow .props
{
    margin:0;
    padding:3px;
    list-style:none;
    font-size:small;
  
}

.mediaRow .props li
{
    display:inline;
    border-right:1px dotted black;
    margin-right:4px;
    padding-right:4px;
    white-space:pre-line;
}

.mediaRow .props li.keywords
{
	display:block;
	border-right:none;
}

.mediaRow .props li strong
{
    font-size:small;
}

.mediaRow .props li.last,
.mediaRow .props li:last-child,
.mediaRow .props li.keywords
{
    border-right:none;
}

.mediaRowList
{
	font-size:medium;
}

.mediaRowList .mediaRow
{
    margin-bottom:10px;
    width:100%;
}

/*
.mediaRowList .mediaRow:nth-child(odd)
{
	background-color:#F4FAFF;
}
*/

/*
	Footer
*/
#footer
{
    clear:both;
    font-size:small;
}

#footer span,
#footer ul
{
    display:block;
    float:left;
    padding:6px 0 6px 0;
}

#footer span
{
    padding-right:0.75em;
    border-right:1px dashed #CCC;
}

#footer ul
{
	margin:0;
    margin-left:0.75em;
}

#footer ul li
{
	display:block;
	list-style-type:none;
	
	float:left;
    padding-right:0.5em;
    margin-right:0.5em;
    border-right:1px solid #CCC;
}

#footer ul li a
{
    margin:0;
    padding:0;
    color:#006CC6;
    font-weight:normal;
    text-decoration:none;
}

#footer ul li a:hover
{
    /*color:#0092C6;*/
    text-decoration:underline;
}

#footer ul .last
{
    border:none;
}

/*
	Fillout Form
*/
.filloutForm
{
    padding:0;
}

.filloutForm fieldset
{
    padding:0;
    padding-left:1em;
    border:none;
    border-top:1px solid #9BBEF4;
}

.filloutForm legend
{
    padding:0 5px;
    font-weight:bold;
}

.filloutForm .checkbox label,
.filloutForm .button
{
    clear:both;
    width:auto;
    float:none;
}

.filloutForm .checkbox label
{
	clear:none;
    margin-left:2px;
}

.filloutForm .required
{
    color:#CC0001;
    font-weight:bold;
}

.button
{
    display:block;
    margin-top:1em;
    padding:5px;
}

.filloutForm .inputContainer
{
    float:left;
    width:70%;
    margin:0px;
    margin-top:8px;
    padding:5px;
    list-style-type:none;
}

.filloutForm .inputContainer li
{
    display:block;
    overflow:hidden;
    width:90%;
    margin-bottom:0.6em;
    padding:3px;
}

.filloutForm .highlight
{
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:6px;
    border:1px solid #ff0000;
    color:#666666;
}

.filloutForm ul li .error
{
    display:block;
    clear:both;
    width:60%;
    min-height:16px;
    margin-left:145px;
    padding-top:5px;
    padding-left:18px;
    background:url(/images/icons/error.png) left center no-repeat;
    color:#D20000;
    font-size:x-small;
}

.filloutForm label,
.filloutForm .label
{
    /*clear:left;*/
    float:left;
    width:140px;
    margin-right:5px;
    font-size:small;
    font-weight:lighter;
    text-align:right;
}

.filloutForm .horzRadios br
{
	display:none;
}

.filloutForm .horzRadios label
{
    margin-left:2px;
}

.filloutForm .horzRadios input
{
    width:auto;
}

.filloutForm .horzSelects select
{
    margin-right:6px;
}

.filloutForm ul li input,
.filloutForm ul li textarea,
.filloutForm ul li select
{
	display:block;
    float:left;
}

.filloutForm ul .verification label
{
    width:auto;
    text-align:left;
}

.filloutForm ul li .large
{
    width:250px;
}

.filloutForm ul li .medium
{
    width:150px;
}

.filloutForm ul li .small
{
    width:80px;
}

.filloutForm > ul li div 
{
    display:inline;
    float:left;
}

.filloutForm ul li div input
{
    display:inline;
    width:auto;
    float:none;
    font-weight:normal;
}

.filloutForm ul li div label
{
    display:inline;
    width:auto;
    float:none;
    font-weight:normal;
    margin-right:6px;
}

/*
	Paging
*/
.paging
{
    clear:both;
    padding-top:3em;
    padding-bottom:2em;
    font-size:medium;
}

.paging .numbersLabel
{
    margin-right:1em;
    font-variant:small-caps;
}

.paging .numbers
{
    display:inline;
}

.paging a,
.paging a:visited,
.paging .numbers span
{
    margin-right:1.5em;
    font-weight:bold;
}

.paging .numbers a
{
    padding:4px 6px 4px 6px;
    border:1px solid #CCC;
    text-decoration:none;
}

.paging .numbers a:hover
{
    background-color:#F4FFF4;
}

.paging .numbers span
{
    padding:6px 8px 6px 8px;
    border:1px solid #33CC00;
    background-color:#F4FFF4;
    color:#0066CC;
}

.paging a.action
{
    text-decoration:underline;
    font-size:large;
    font-weight:bold;
}

/*
	About
		Staff
*/
.staff
{
	padding:0;
}

.staff li
{
	clear:both;
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;
	margin-bottom:2em;
}

.staff li img
{
	float:left;
	margin-bottom:2em;
	padding:4px;
	border:1px solid #CCC;
}

.staff li div
{
	margin-left:120px;
}

.staff li div h3
{
	font-size:110%;
}

/*
	Prop List
*/
.propList
{
	float:right;
	width:48%
}

.propList h2
{
    font-size:1.1em;
    padding:0;
    margin:0;
}

.propList .props
{
	margin:0;
	margin-top:5px;
	padding:0;
}

.propList .props .prop
{
    display:block;
    list-style-type:none;
    padding:4px;
    padding-top:8px;
    margin-bottom:6px;
    border-top:1px dashed silver;
}

.propList ul li strong
{
    display:block;
    position:absolute;
    z-index:1;
    font-size:0.9em;
}

.propList .props .prop div
{
    margin-left:120px;
}

.propList .props .prop div .star-rating
{
	float:left;
	margin-left:0;
}

.propList .props .prop div button
{
	float:right;
}

/*
.propList ul li div a
{
	display:inline;
	margin-left:0;
}
*/

/*
	Media Details
		Media
*/
.mediaDetails .media
{
	float:left;
}

/*
	Media Details
		Media
			Cinema
*/
.mediaDetails .cinema
{
	width:50%;
	height:230px;
	padding:10px;
}

.mediaDetails .cinema img
{
	width:400px;
	height:230px;
	position:absolute;
	z-index:-1
}

.mediaDetails .cinema a
{
	display:block;
	position:absolute;
	width:400px;
	background:white;
	margin-top:100px;
	padding:10px;
	text-align:center;
	opacity:.70;
	filter:alpha(opacity=70);
}

/*
	Media Details
		Comment Section
*/
.mediaDetails .commentSection
{
	clear:both;
	margin-top:2em;
}

.mediaDetails .commentSection h2
{
	font-size:1.2em;
}

.mediaDetails .commentSection .addTip a
{
	padding-left:18px;
	background:url(/images/icons/comment_add.png) no-repeat scroll center left;
}

#mediaCommentForm
{
	display:none;
}


/*
	Comments
*/
.comments
{
	clear:both;
	padding:0;
	margin-left:0;
}

.comments .comment
{
	clear:both;
	padding:0;
	margin:0;
	list-style-type:none;
	margin-top:1em;
}

.comments .comment .header
{
	font-size:small;
	/*background:#f4fff4 url(/images/icons/comment.png) no-repeat scroll center left;
	padding-left:16px;*/
}

.comments .comment .header .title strong
{
	display:block;
	float:left;
	margin:0;
	padding-right:6px;
	font-weight:bold;
}

.comments .comment .header .star-rating
{
	float:left;
	padding:0;
}

.comments .comment .header .star-rating,
.comments .comment .header .star-rating ul,
.comments .comment .header .star-rating ul li
{
	padding:0;
	margin:0;
}

.comments .comment .header .info
{
	clear:both;
}

.comments .comment .header .info .username,
.comments .comment .header .info span,
.comments .comment .header .info em,
.comments .comment .header .info em a
{
	display:block;
	float:left;
	margin-right:.5em;
}

.comments .comment .header .info em a
{
	display:inline;
	float:none;
	margin-right:0;
	color:#CCC
}

.comments .comment .header .info,
.comments .comment .header .title strong
{
	margin:0;
	padding-left:0;
	padding-top:4px
}

.comments .comment .header em
{
	font-size:small;
}

.comments .comment .header i
{
	color:#B6B6B6;
}

.comments .comment p
{
	display:block;
	clear:both;
	margin-top:5px;
	font-size:small;
}

.comments .comment .actions
{
	font-size:small;
}

.comments .comment .actions .rating
{
	display:inline;
	padding-left:1em
}

.comments .comment .actions .rating li
{
	display:inline;
	margin-right:4px;
}

.comments .comment .actions .rating li strong,
.comments .comment .actions .rating li span
{
	margin:0;
	padding:0;
	padding-top:2px;
}

.comments .comment .actions .rating li strong
{
	background:no-repeat scroll center left;
	margin-right:6px;
	padding-left:18px;
	font-weight:bold;
	cursor:pointer;
}

.comments .comment .actions .rating li .approve
{
	background-image:url(/images/icons/thumb_up.png);
}

.comments .comment .actions .rating li .disapprove
{
	background-image:url(/images/icons/thumb_down.png);
}

.commentReplies
{
	padding:0;
}

.commentReplies .comment
{
	margin-left:3em;
}

/*
	Flash Notice
*/
.flash
{
	display:block;
	padding:6px;
	background-color:#FFFFAF;
	border:1px double orange;
	margin-bottom:8px;
	font-style:normal;
}

.flash strong
{
	display:none;
	font-size:larger;
	margin-right:4px;
}

/*
	DMCA
*/
.dmcaNotificationCriteria
{
	list-style-type:lower-roman;
}

.dmcaNotificationCriteria li
{
	margin-bottom:1em;
}

.box .sideAdvert
{
	float:right;
	width:19%;
	text-align:right;
}

.box .sideAdvert a
{
	margin-right:68px;
}

/*
	Search Results
*/
.searchResults .top .resultCount
{
	display:block;
	float:right;
	margin-right:10px;
	padding:3px;
	background-color:#FFF;
}

.searchResults .mediaResult
{
	float:left;
	width:80%;
}

/*
	Media Quality
*/
.mediaQualityPoor
{
	font-weight:bold;
	color:#FF5555;
}

.mediaQualityOk
{
	font-weight:bold;
	color:#FAD605;
}

.mediaQualityGood
{
	font-weight:bold;
	color:#00D200;
}

.mediaQualityExcellent
{
	font-weight: bold;
	color: #00DDDD;
}

/*
	User Profile
*/
.userProfile .content
{
	float:right;
	width:85%;
}

.userProfile .menu
{
	float:left;
	width:13%;
	padding:0;
	margin:0;
}

.userProfile .menu li
{
	display:block;
	list-style-type:none;
	border:dotted 1px #CCC;
	margin-bottom:5px;
	margin-left:0;
}

.userProfile .menu li.current
{
	border-style:solid;
}

.userProfile .menu li a
{
	display:block;
	padding:3px;
}

.userProfile .menu li a:hover
{
	background-color:#F4FFF4;
}